{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello from OpenTelemetry SdkBundle! ✅</h1>

    Trace ID: <b>{{ trace_id }}</b>

    <ul>
        <li>Controller Span ID ({{ controller_sampling_decision }}): <b>{{ controller_span_id }}</b></li>
        <li>Template Span ID ({{ template_sampling_decision }}): <b>{{ template_span_id }}</b></li>
    </ul>

    You can see the tracing metrics at:
    <ul>
        <li><code><a target="_blank" href="{{ jaeger_gui_url }}">Jaeger</a></code></li>
        <li><code><a target="_blank" href="{{ zipkin_gui_url }}">Zipkin</a></code></li>
    </ul>
</div>
{% endblock %}
